### -->Programação em Python


--> Sintaxe básica

Podemos utilziar ' ' (aspas simples)

Podemos utilziar " " (aspas duplas)

Utilizando o \n para pular uma linha na impressão do valor

Usamos o hastgag # para comentar algo

In [ ]:
# Sintaxe básica

print('Olá mundo')
print("Bem vindo ao curso de Python")

Olá mundo
Bem vindo ao curso de Python

In [ ]:
'''

Teste de bloco de comentário de código

'''

print("Olá mundão! \n Bora pular a linha e \n mais uma")

Olá mundão!
 Bora pular a linha e
 mais uma

### --> Operadores Matemáticos

Os operadores são usados ​​para realizar operações em variáveis ​​e valores:

Soma

Subtração

Multiplicação

Divisão

Exponenciação

Resto da Divisão

Divisão de Chão


---

In [ ]:
# Soma

1 + 3 + 4

8

In [ ]:
# Subtração 

4 - 4

0

In [ ]:
# Multiplicação 

4 * 4

16

In [ ]:
# Divisão

4 / 4

1.0

In [ ]:
# Exponenciação 

2 ** 3 # ( 2 x 2 x 2)

8

In [ ]:
# Resto da divisão

3 % 4

3

In [ ]:
# Divisão de chão

3 // 4

0

In [ ]:
# Priorização

( 2 + 2 ) * 5

20

## -->Variáveis 

Variáveis ​​são contêineres para armazenar valores de dados.

Uma variável é criada no momento em que você atribui um valor a ela.

In [ ]:
Soma = 2 + 2
Subtracao = 2 - 1
Multiplicacao = 2 * 2
Divisao = int(2 / 2)
Potenciacao = 2 ** 2
Resto = 9 % 4

Boolean1 = True
Boolean2 = False

print(Soma , 'oi' , Subtracao)

Nome = "José"
Nome2 = str("212120101") # Independente de qualquer coisa será string

print("{}, {}\n\n" .format(Nome, Nome2))

var_inteiro01 = int(100);
var_flutuante01 = float(100)



print("Varios elementos: \n {}, {},  {}, {}" .format(Soma, Subtracao, Multiplicacao, Divisao))
print("O resultado da subtração é:" , Subtracao)
print( f'Multiplacação: {Multiplicacao}' )
print( 'Resto da divisão:: {}'.format( Resto ) )

print("Inteiro e flutuante: {}, {}" .format(var_inteiro01 ,var_flutuante01 ))
print(Boolean1,Boolean2)

4 oi 1
José, 212120101


Varios elementos:
 4, 1,  4, 1
O resultado da subtração é: 1
Multiplacação: 4
Resto da divisão:: 1
Inteiro e flutuante: 100, 100.0
True False

## Tipos de Dados # (Armazenar sequência de dados)


Listas - São criadas usando [ ] (Colchetes)

Tuplas - São criadas usando ( ) (Parenteses)

Dicionários - São criadas usando { } (Chaves)

Esses tipos de dados podem receber qualquer tipo de informação, inclusive Operações Aritméticas

In [ ]:
# Listas

Lista_Exemplo_01 = [1,2,3,4,5,6,7,8]
Lista_Exemplo_02 = ['Nome', 'Sobrenome', 5, True]
Lista_Exemplo_03 = [1, 'Nome', 'Sobrenome', 3, True, [1,2,3, False]]

print(Lista_Exemplo_01)
print(Lista_Exemplo_02)
print(Lista_Exemplo_03, '\n \n \n' )


# Tuplas --> São imutáveis

Tupla_Exemplo_01 = (1,2,3,4,5,6,7,8)
Tupla_Exemplo_02 = ('Nome', 'Sobrenome', 5, True)

print(Tupla_Exemplo_01)
print(Tupla_Exemplo_02 , '\n \n \n')


# Dicionários

Dicionario = {
    'Index' : 'Valor',
    'Id'    : 1,
    'Id'    : 2,
    'Lista' : Lista_Exemplo_03,
    'Tupla' : Lista_Exemplo_03
}

print(Dicionario)

[1, 2, 3, 4, 5, 6, 7, 8]
['Nome', 'Sobrenome', 5, True]
[1, 'Nome', 'Sobrenome', 3, True, [1, 2, 3, False]]



(1, 2, 3, 4, 5, 6, 7, 8)
('Nome', 'Sobrenome', 5, True)



{'Index': 'Valor', 'Id': 2, 'Lista': [1, 'Nome', 'Sobrenome', 3, True, [1, 2, 3, False]], 'Tupla': [1, 'Nome', 'Sobrenome', 3, True, [1, 2, 3, False]]}

## Nomeação de Variáveis # Nova seção


Podemos nomear variáveis e tipos de dados de diversas formas:

Declarar as variáveis em uma única linha de comando;

Atribuir um valor à diversas variáveis;

Declarar usando uma Lista;

Combinar variáveis;

Operar com operadores matemáticos;

Muitos outros.

In [ ]:
Laranja, Melao, Limao = 1 , 2,  3   # Atribuição de valor sequencial, ao invés de fazer uma em cada linha
Morango = Kiwi = Uva = 100  # Atribuição igualitária para todas as variáveis



print('Atribuição sequencial: {}, {}, {} ' .format(Laranja, Melao, Limao))

print('Atribuição igualitária para todas as variáveis: {}, {}, {} ' .format(Morango , Kiwi , Uva))



# Nomear com listas

Lista_carros = ['Pálio ', 'Uno', 'HB20']
Marca_01, Marca_02, Marca_03 = Lista_carros

print('Valor sequencial com lista: {}, {}, {} ' .format(Marca_01, Marca_02, Marca_03) , '\n \n')



# Combinar variáveis 

Nome = 'Odemir'
Sobrenome = 'Depieri'
Idade = 29

Nome_completo = Nome + ' ' + Sobrenome + '\n'
print(Nome_completo)

# Experimento
print(Nome + ' ' + str(Idade) + ' anos.\n')



Investimento = 100
taxa_juros = float('0.2')

print(Investimento * taxa_juros)

Valor_Ganhado = (Investimento * taxa_juros) + Investimento

print('Valor total = ' , Valor_Ganhado)

Atribuição sequencial: 1, 2, 3
Atribuição igualitária para todas as variáveis: 100, 100, 100
Valor sequencial com lista: Pálio , Uno, HB20


Odemir Depieri

Odemir 29 anos.

20.0
Valor total =  120.0

## Tipo da Informação 

Na programação, o tipo de dados é um conceito importante. Variáveis ​​podem armazenar dados de diferentes tipos, e diferentes tipos podem fazer coisas diferentes. O Python tem os seguintes tipos de dados integrados por padrão, nestas categorias:


Text Type: str

Numeric Types: int, float, complex

Sequence Types: list, tuple, range

Mapping Type: dict

Set Types: set, frozenset

Boolean Type: bool

Binary Types: bytes, bytearray, memoryview

In [ ]:
String = str('Olá mundo')    #Sempre entender os tipos de informacao para saber como trabalhar com ela
Inteiro = int(10)
Flutuante = float(10.5)
Complex = complex(1j)
Lista = list(('Maca', 'Morango'))
tupla = tuple(('A', 'B'))
Range = range(6)
Dicionario = dict(nome='Odemir', age=29)
Set = set(('A', 'B','C'))
Fronzet = frozenset(('A', 'B','C'))
Boleano = bool(5)
Bytes = bytes(5)
ByteArray = bytearray(5)
Memoryview = memoryview(bytes(5))

from datetime import datetime
Data = datetime.today().date()

type (String) # printa o tipo da variável

str

## Comando Round # Nova secção

Quando trabalhamos com números flutuantes, podemos arredondar o valor usando um comando nativo do python

round(valor, número de casas)

In [ ]:
Flutuante, Flutuante2, Flutuante3 = 10.00000000, 50.523548478546546461651465416516516, 100.03211

print(round(Flutuante, 2))
print(round(Flutuante2, 3))
print(round(Flutuante3, 2))

10.0
50.524
100.03

## Comando Len # 

A funcao len() retorna a quantidade de elementos de qualquer lista em python, essa é uma funcao built-in e disponivel em qualquer parte do nosso código

In [ ]:
Lista = [1,2,3,4,5,6,7,8,9,10]
Dicionario = {'Nome':'Odemir', 'Idade':29}
Tupla = (1,2,3)
String = 'Hello World'

print(len(Lista) , '\n')
print(len(Dicionario), '\n')
print(len(Tupla), '\n')
print(len(String), '\n')

10

2

3

11

## Fatiamento de Strings

Strings são listas de bytes represetando caracteres.

Podemos acessar suas posições usando Colchetes

String [Posição Inicial: Posição Final]

In [ ]:
Minha_String2 = ['Aprender Python é topzera']

print(type(Minha_String2))
print(len(Minha_String2) , '\n \n')

Minha_String = 'Aprender Python é topzera'

print(type(Minha_String))
print(len(Minha_String), '\n \n')


print(Minha_String[0])
print(Minha_String[1])

print(Minha_String[-1]) # Inverte na posição
print(Minha_String[-10])

print(Minha_String[-10:]) # Range de seleção . a partir....

print(Minha_String[0:10], '\n \n')



CPF = 'CPF:22556987456'
print(CPF[4:15])
print(CPF[-11:]) # Ou as 11 últimas posições

<class 'list'>
1


<class 'str'>
25


A
p
a

 é topzera
Aprender P


22556987456
22556987456

#  Manipulação de Strings<p>
Um tipo de dados bastante usado no dia a dia são as strings, ou cadeias de caracteres (ou sequências de caracteres). O tipo de dados string, ou str como é chamado em Python, possui várias operações úteis associadas a ele. Essas operações tornam Python uma linguagem bastante propícia para manipulação de textos.
Algumas funções mais utilizadas:

1. replace()
2. startswith()
3. endswith()
4. count()
5. capitalize()
6. isdigit()
7. isalnum()
8. upper()
9. lower()
10. find ()
11. strip()
12. split()# Nova seção

In [27]:
String = "Olá mundão!"

print(String)
print(len(String))
print(type(String))

print(String + ' Concatenei')

# Replace --> Substituir algo

print(String.replace('mundão' , 'mundo'))

CPF = 'CPF:15448752365'
CPF = CPF.replace('CPF:','')
print(CPF)



# startswith --> Quero saber se minha string começa com alguma coisa (Booleano) - verifica sempre o começo

print(String.startswith('Olá'))
print(String.startswith('Ola'))


# endswith --> Quero saber se minha string termina com alguma coisa (Booleano) - verifica sempre o fim

print(String.endswith('mundão!'))



# count - Contar palavras ou letras

print(String.count('m'))


# capitalize() Transformação nos textos --> Letra maiuscula no inicio

Nome = 'josé'
print(Nome.capitalize())


# isdigit() Verificar se existe valor numérico - APENAS (Se tem digitos ou se esta vazio) - Com letra retorna false

teste2 = '87454646464'
print(CPF.isdigit())
print(teste2.isdigit())


# isalnum() tem que ter letras e numeros para ser true

teste = 'aaaaaadgfg'

print(String.isalnum())
print(CPF.isalnum())
print(teste.isalnum())

Olá mundão!
11
<class 'str'>
Olá mundão! Concatenei
Olá mundo!
15448752365
True
False
True
1
José
True
True
False
True
True

In [31]:
# upper() Deixa tudo maiusculo

nome = 'odemir'

print(nome.upper())


#  lower() Deixa tudo minusculo
nome2 = 'ODEMIR'

print(nome2.lower())

ODEMIR
odemir

In [33]:
# find () localizar algo

frase = 'Hoje o dia está calor!'

print(frase.find('dia'))  # palavra dia começa a partir da 7 posição

print(frase.find('zzzzzz')) # retorna -1 pois não existe na variável

7
-1

In [34]:
#strip() remove espaço entre o fim e começo das palavras

endereco = ' R Augusto 120, SP '

endereco.strip()

'R Augusto 120, SP'

In [2]:
# split() quebra a nossa string

palavra = 'Rua Augusta 150, Centro, SP'

print(palavra.split(','))
print(palavra.split(' '))

['Rua Augusta 150', ' Centro', ' SP']
['Rua', 'Augusta', '150,', 'Centro,', 'SP']

# Comando Input
A função input() recebe como parâmetro uma string que será mostrada como auxílio ao usuário, geralmente o informando que tipo de dado o programa está aguardando receber.

input()# Nova seção

In [31]:
# input

input('Digite algo: ')

Digite algo: hehe

'hehe'

In [33]:
# Form

Nome = input('Qual seu nome?: ')
Idade = input('Qual sua idade?: ')

print('Seu nome é: ', Nome)
print('Seu nome é: ', Idade)

Qual seu nome?: José
Qual sua idade?: 27 anos
Seu nome é:  José
Seu nome é:  27 anos

# Operadores de Comparação
Os operadores de comparação são usados ​​para comparar dois valores:
1. '==' ( Igual a )
2. '!=' ( Diferente )
3. '>' ( Maior )
4. '<' ( Menor )
5. '>=' ( Maior igual )
6. '<=' ( Menor igual )# Nova seção

In [1]:
10 == 10

True

In [2]:
10 == 8

False

In [3]:
10 != 8

True

In [4]:
10 != 10

False

In [5]:
10 > 9

True

In [6]:
10 > 10

False

In [7]:
10 >= 10

True

In [8]:
10 <= 10

True

In [1]:
print('8 é maior que 7:', 8 > 7 )
print('8 é menor que 7:', 8 < 7 )
print('8 é igual 7:', 8 == 7 )
print('10 é maior 10:', 10 > 10 )
print('10 é maior ou igual à 10:', 10 >= 10 )
print('10 é menor 10:', 10 < 10 )
print('10 é menor ou igual à 10:', 10 <= 10 )

8 é maior que 7: True
8 é menor que 7: False
8 é igual 7: False
10 é maior 10: False
10 é maior ou igual à 10: True
10 é menor 10: False
10 é menor ou igual à 10: True

# Operadores Lógicos
Os operadores lógicos são usados ​​para combinar instruções condicionais:
1. and (Retorna True se ambas as declarações forem verdadeiras)
2. or (Retorna True se uma das declarações for verdadeira)# Nova seção
3. not (Inverte o resultado, retorna false se o resultado for verdadeiro)

In [5]:
## Combinar instruções e condições - AND


print('Veja:' , 10 > 2 and 10 > 3)
print('Veja:' , 10 > 2 and 10 > 20)

print('Veja:' , 10 > 2 and 10 > 20 and 3 == 3)

Veja: True
Veja: False

In [9]:
# Or

print('Veja:' , 10 > 2 or 10 > 20)
print('Veja:' , 10 == 2 or 10 > 20)

Veja: True
Veja: False

In [15]:
# not

print('Veja:' , not 10 == 2 or 10 > 20 )


lista = [1,2,3,4]

print(2 in lista)
print(2 not in lista)
print(10 not in lista)

Veja: True
True
False
True

# Operadores de Identidade
Os operadores de identidade são usados ​​para comparar os objetos, não se forem iguais, mas se forem realmente o mesmo objeto, com a mesma localização de memória:
1. is (Retorna True se ambas as variáveis ​​forem o mesmo objeto)
2. is not (Retorna True se ambas as variáveis ​​não forem o mesmo objeto)

In [4]:
String_01, String_01 = 'Olá Mundão' , 'Olá Mundão'

print(type(String_01) == type(String_01)) # mesma coisa, só sintaxe diferente
print(type(String_01) is type(String_01)) 
print(type(String_01) is not type(String_01))

True
True
False