### -->Programação em Python


--> Sintaxe básica

Podemos utilziar ' ' (aspas simples)

Podemos utilziar " " (aspas duplas)

Utilizando o \n para pular uma linha na impressão do valor

Usamos o hastgag # para comentar algo

In [ ]:
# Sintaxe básica

print('Olá mundo')
print("Bem vindo ao curso de Python")

Olá mundo
Bem vindo ao curso de Python

In [ ]:
'''

Teste de bloco de comentário de código

'''

print("Olá mundão! \n Bora pular a linha e \n mais uma")

Olá mundão!
 Bora pular a linha e
 mais uma

### --> Operadores Matemáticos

Os operadores são usados ​​para realizar operações em variáveis ​​e valores:

Soma

Subtração

Multiplicação

Divisão

Exponenciação

Resto da Divisão

Divisão de Chão


---

In [ ]:
# Soma

1 + 3 + 4

8

In [ ]:
# Subtração 

4 - 4

0

In [ ]:
# Multiplicação 

4 * 4

16

In [ ]:
# Divisão

4 / 4

1.0

In [ ]:
# Exponenciação 

2 ** 3 # ( 2 x 2 x 2)

8

In [ ]:
# Resto da divisão

3 % 4

3

In [ ]:
# Divisão de chão

3 // 4

0

In [ ]:
# Priorização

( 2 + 2 ) * 5

20

## -->Variáveis 

Variáveis ​​são contêineres para armazenar valores de dados.

Uma variável é criada no momento em que você atribui um valor a ela.

In [ ]:
Soma = 2 + 2
Subtracao = 2 - 1
Multiplicacao = 2 * 2
Divisao = int(2 / 2)
Potenciacao = 2 ** 2
Resto = 9 % 4

Boolean1 = True
Boolean2 = False

print(Soma , 'oi' , Subtracao)

Nome = "José"
Nome2 = str("212120101") # Independente de qualquer coisa será string

print("{}, {}\n\n" .format(Nome, Nome2))

var_inteiro01 = int(100);
var_flutuante01 = float(100)



print("Varios elementos: \n {}, {},  {}, {}" .format(Soma, Subtracao, Multiplicacao, Divisao))
print("O resultado da subtração é:" , Subtracao)
print( f'Multiplacação: {Multiplicacao}' )
print( 'Resto da divisão:: {}'.format( Resto ) )

print("Inteiro e flutuante: {}, {}" .format(var_inteiro01 ,var_flutuante01 ))
print(Boolean1,Boolean2)

4 oi 1
José, 212120101


Varios elementos:
 4, 1,  4, 1
O resultado da subtração é: 1
Multiplacação: 4
Resto da divisão:: 1
Inteiro e flutuante: 100, 100.0
True False

## Tipos de Dados # (Armazenar sequência de dados)


Listas - São criadas usando [ ] (Colchetes)

Tuplas - São criadas usando ( ) (Parenteses)

Dicionários - São criadas usando { } (Chaves)

Esses tipos de dados podem receber qualquer tipo de informação, inclusive Operações Aritméticas

In [ ]:
# Listas

Lista_Exemplo_01 = [1,2,3,4,5,6,7,8]
Lista_Exemplo_02 = ['Nome', 'Sobrenome', 5, True]
Lista_Exemplo_03 = [1, 'Nome', 'Sobrenome', 3, True, [1,2,3, False]]

print(Lista_Exemplo_01)
print(Lista_Exemplo_02)
print(Lista_Exemplo_03, '\n \n \n' )


# Tuplas --> São imutáveis

Tupla_Exemplo_01 = (1,2,3,4,5,6,7,8)
Tupla_Exemplo_02 = ('Nome', 'Sobrenome', 5, True)

print(Tupla_Exemplo_01)
print(Tupla_Exemplo_02 , '\n \n \n')


# Dicionários

Dicionario = {
    'Index' : 'Valor',
    'Id'    : 1,
    'Id'    : 2,
    'Lista' : Lista_Exemplo_03,
    'Tupla' : Lista_Exemplo_03
}

print(Dicionario)

[1, 2, 3, 4, 5, 6, 7, 8]
['Nome', 'Sobrenome', 5, True]
[1, 'Nome', 'Sobrenome', 3, True, [1, 2, 3, False]]



(1, 2, 3, 4, 5, 6, 7, 8)
('Nome', 'Sobrenome', 5, True)



{'Index': 'Valor', 'Id': 2, 'Lista': [1, 'Nome', 'Sobrenome', 3, True, [1, 2, 3, False]], 'Tupla': [1, 'Nome', 'Sobrenome', 3, True, [1, 2, 3, False]]}

## Nomeação de Variáveis # Nova seção


Podemos nomear variáveis e tipos de dados de diversas formas:

Declarar as variáveis em uma única linha de comando;

Atribuir um valor à diversas variáveis;

Declarar usando uma Lista;

Combinar variáveis;

Operar com operadores matemáticos;

Muitos outros.

In [ ]:
Laranja, Melao, Limao = 1 , 2,  3   # Atribuição de valor sequencial, ao invés de fazer uma em cada linha
Morango = Kiwi = Uva = 100  # Atribuição igualitária para todas as variáveis



print('Atribuição sequencial: {}, {}, {} ' .format(Laranja, Melao, Limao))

print('Atribuição igualitária para todas as variáveis: {}, {}, {} ' .format(Morango , Kiwi , Uva))



# Nomear com listas

Lista_carros = ['Pálio ', 'Uno', 'HB20']
Marca_01, Marca_02, Marca_03 = Lista_carros

print('Valor sequencial com lista: {}, {}, {} ' .format(Marca_01, Marca_02, Marca_03) , '\n \n')



# Combinar variáveis 

Nome = 'Odemir'
Sobrenome = 'Depieri'
Idade = 29

Nome_completo = Nome + ' ' + Sobrenome + '\n'
print(Nome_completo)

# Experimento
print(Nome + ' ' + str(Idade) + ' anos.\n')



Investimento = 100
taxa_juros = float('0.2')

print(Investimento * taxa_juros)

Valor_Ganhado = (Investimento * taxa_juros) + Investimento

print('Valor total = ' , Valor_Ganhado)

Atribuição sequencial: 1, 2, 3
Atribuição igualitária para todas as variáveis: 100, 100, 100
Valor sequencial com lista: Pálio , Uno, HB20


Odemir Depieri

Odemir 29 anos.

20.0
Valor total =  120.0

## Tipo da Informação 

Na programação, o tipo de dados é um conceito importante. Variáveis ​​podem armazenar dados de diferentes tipos, e diferentes tipos podem fazer coisas diferentes. O Python tem os seguintes tipos de dados integrados por padrão, nestas categorias:


Text Type: str

Numeric Types: int, float, complex

Sequence Types: list, tuple, range

Mapping Type: dict

Set Types: set, frozenset

Boolean Type: bool

Binary Types: bytes, bytearray, memoryview

In [ ]:
String = str('Olá mundo')    #Sempre entender os tipos de informacao para saber como trabalhar com ela
Inteiro = int(10)
Flutuante = float(10.5)
Complex = complex(1j)
Lista = list(('Maca', 'Morango'))
tupla = tuple(('A', 'B'))
Range = range(6)
Dicionario = dict(nome='Odemir', age=29)
Set = set(('A', 'B','C'))
Fronzet = frozenset(('A', 'B','C'))
Boleano = bool(5)
Bytes = bytes(5)
ByteArray = bytearray(5)
Memoryview = memoryview(bytes(5))

from datetime import datetime
Data = datetime.today().date()

type (String) # printa o tipo da variável

str

## Comando Round # Nova secção

Quando trabalhamos com números flutuantes, podemos arredondar o valor usando um comando nativo do python

round(valor, número de casas)

In [10]:
Flutuante, Flutuante2, Flutuante3 = 10.00000000, 50.523548478546546461651465416516516, 100.03211

print(round(Flutuante, 2))
print(round(Flutuante2, 3))
print(round(Flutuante3, 2))

10.0
50.524
100.03

## Comando Len # Nova secção

A funcao len() retorna a quantidade de elementos de qualquer lista em python, essa é uma funcao built-in e disponivel em qualquer parte do nosso código

In [6]:
Lista = [1,2,3,4,5,6,7,8,9,10]
Dicionario = {'Nome':'Odemir', 'Idade':29}
Tupla = (1,2,3)
String = 'Hello World'

print(len(Lista) , '\n')
print(len(Dicionario), '\n')
print(len(Tupla), '\n')
print(len(String), '\n')

10

2

3

11